body {
  margin: 0;
  min-height: 100vh;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
*:focus {
  outline: none;
}

#root {
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hidden {
  display: none !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.card {
  border-color: #00000026;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 1rem;
  background-color: #ffffff;
}
